/*Gör runda hörn i tabellen*/
th:first-of-type {
    border-top-left-radius: 10px;
}
th:last-of-type {
    border-top-right-radius: 10px;
}

tfoot td:first-child{
  border-bottom-left-radius: 10px;
}

tfoot td:last-child{
  border-bottom-right-radius: 10px;
}

table, td, th{

    text-align: left;
    
    font-size: 1.3rem;

    /*Ser till att tabellen blir lite större runt texten*/
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 10pt;
    padding-left: 1pt;

    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td{
  vertical-align: middle;
}

/*Zebra striping*/
thead tr{
  color: green;
  background-color: hsla(0, 100%, 0%, 1);
}

tbody tr:nth-child(odd){
    color: red;
    background-color: hsla(240, 95%, 25%, 1);
}

tbody tr:nth-child(even){
    color: green;
    background-color: hsla(0, 100%, 0%, 1);
}

tfoot tr{
  color: green;
  background-color: hsla(0, 100%, 0%, 1);
}

caption{
    margin-top: 15px;
}

.small{
    font-size: 1ex;
}