table, td, th{

    text-align: left;

    font-size: 1.3rem;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 10pt;
    padding-left: 1pt;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(odd){
    color: red;
    background-color: hsla(240, 95%, 25%, 1);
}

tr:nth-child(even){
    color: green;
    background-color: hsla(0, 100%, 0%, 1);
}

caption{
    margin-top: 15px;
}

.small{
    font-size: 1ex;
}