body{
    margin: 0; /* tar bort marginen från hemsidan*/

    background-color: rgb(152, 175, 199); /*bakgrundsfärgen*/
}

main{

    padding-left: 2px; /*lägger all text, bilder och övrigt som finns på sidan lite ut höger för att göra det mer läsbart*/
}

nav  ul{
    list-style: none; /* tar bort punkterna från listan*/

    display: grid; /* gör så att man kan se griden*/


    /* beskriver griden*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12vh;
    grid-gap: 2vw;

    /*tar bort all padding och margin som läggs automatiskt på ul*/
    padding: 0;
    margin: 0;

    background-color: black;
}

nav li{
    background-color: rgb(140, 194, 41);
}

nav p{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: calc(6vh - 0.5em);

    font-size: 2em;
}

nav li:hover{
    background-color: rgb(113, 155, 35);
}

nav a{
    /*tar bort linjen under länken*/
    text-decoration: none;

    /*gör a taggarna svarta*/
    color: black;
}

footer{

    /*beskriver griden i footern*/

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 8vh;


    /*sätter footern längst ner*/
    position: absolute;

    bottom: 0;

    /*sätter färgen på footern*/
    background-color: rgb(182, 67, 67);

    /*ser till att footern alltid har en min storlek*/
    min-width: 100%;
}

footer > p{

    /*sätter texten i mitten av footern*/
    text-align: center;
    width: auto;

    margin: 0;

    /*ökar textens storlek*/
    font-size: 7ex;
}
 
/*Minksar header texten när skärmen är mindre*/
@media screen and (max-width: 1200px) {
    nav p{
        font-size: 1em;
    }
    
}