body{
    margin: 0; /* tar bort marginen från hemsidan*/
}

nav > ul{
    list-style: none; /* tar bort punkterna från listan*/

    display: grid; /* gör så att man kan se griden*/


    /* beskriver griden*/
    grid-template-columns: 30fr 1fr 30fr 1fr 30fr;
    grid-template-rows: 12vh;

    background-color: gray; /* bakgrundsfärgen fär headern*/

    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;

    color: black;

    background-color: rgb(140, 194, 41);
}

a:hover{
    background-color: rgb(104, 143, 32);
}

ul > div{
    background-color: black;
}

 li > p{
    font-size: 2em;
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: calc(6vh - 0.5em);
}

footer{

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 10vh;

    position: absolute;

    bottom: 0;

    background-color: gray;

    min-width: 100%;
}

footer > p{
    text-align: center;
    width: auto;
}